# oa_proxmox/tasks/network.yml
# Configure network interfaces based on variable structure

- name: NETWORK |  Create ifupdown configuration
  template:
    src: "interfaces.j2"
    dest: "/etc/network/interfaces"
    mode: '0644'
    backup: yes
  notify: "bl_proxmox reload network"

- name: "Flush handlers to apply network config"
  meta: flush_handlers
