# oa_proxmox/tasks/network.yml
# Configure network interfaces based on variable structure

- name: NETWORK | Set hosts file entry
  ansible.builtin.lineinfile:
    path: /etc/hosts
    regexp: '^{{ inventory_hostname }}\s'
    line: "{{ ansible_host }} {{ inventory_hostname }}"
    owner: 'root'
    group: 'root'
    mode: '644'
    state: absent
    create: true

- name: NETWORK | Create ifupdown configuration
  ansible.builtin.template:
    src: "interfaces.j2"
    dest: "/etc/network/interfaces"
    owner: 'root'
    group: 'root'
    mode: '644'
    backup: true
  notify: "Reload bl_proxmox network"

- name: "Flush handlers to apply network config"
  ansible.builtin.meta: flush_handlers
