# bl_proxmox/tasks/repositories.yml
# Configure Proxmox repositories
# unused at the moment due to conflict in packages\

# --- COMMUNITY REPO ---

- name: REPO | Enable/Disable Proxmox pve-no-subscription repo
  ansible.builtin.deb822_repository:
    name: proxmox
    enabled: "{{ not bl_proxmox_enterprise_license | bool }}"
    types: deb
    uris: http://download.proxmox.com/debian/pve
    suites: "{{ ansible_distribution_release }}"
    components:
      - pve-no-subscription
    signed_by: "{{ bl_proxmox_keyring }}"

- name: REPO | Enable/Disable ceph-squid no-subscription repo
  ansible.builtin.deb822_repository:
    name: ceph
    enabled: "{{ not bl_proxmox_enterprise_license | bool }}"
    types: deb
    uris: http://download.proxmox.com/debian/ceph-squid
    suites: "{{ ansible_distribution_release }}"
    components:
      - no-subscription
    signed_by: "{{ bl_proxmox_keyring }}"
  when: bl_proxmox_ceph_enabled | bool

# --- ENTERPRISE REPO ---

- name: REPO | Enable/Disable Proxmox pve-enterprise repo
  ansible.builtin.deb822_repository:
    name: pve-enterprise
    enabled: "{{ bl_proxmox_enterprise_license | bool }}"
    types: deb
    uris: https://enterprise.proxmox.com/debian/pve
    suites: "{{ ansible_distribution_release }}"
    components:
      - pve-enterprise
    signed_by: "{{ bl_proxmox_keyring }}"

- name: REPO | Enable/Disable ceph-squid pve-enterprise repo
  ansible.builtin.deb822_repository:
    name: ceph
    enabled: "{{ bl_proxmox_enterprise_license | bool }}"
    types: deb
    uris: https://enterprise.proxmox.com/debian/ceph-squid
    suites: "{{ ansible_distribution_release }}"
    components:
      - pve-enterprise
    signed_by: "{{ bl_proxmox_keyring }}"
