# bl_proxmox/templates/interfaces.j2

auto lo
iface lo inet loopback

{% for iface in bl_proxmox_interfaces %}
auto {{ iface.name }}
iface {{ iface.name }} {{ iface.family | default('inet')}} {{ iface.method | default('manual') }}
{% for key, value in iface.items() %}
{% if key not in ('name', 'auto', 'family', 'method', 'comment') %}
        {{ key }} {{ value }}
{% endif %}
{% endfor %}
{% if iface.comment is defined and iface.comment %}
#{{iface.comment}}
{% endif %}

{% endfor %}
